*{
    margin: 0;
}
@media (max-width: 960px) {  
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bienvenida{
        align-items: center;
    }
    .header-nav{
        margin: 30px 20px;
        display: flex;
        flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    }
    .burguer-button{
        width: 36px;
        height: 32px;
        display: flex;
        flex-direction: column;
        gap: 7px
    }
    .burguer-button-line{
        background-color: black;
        width: 36px;
        height: 6px;
    }
    .image-logo{
        width: 54px;
        height: 50px;
    }

    .bienvenida{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 375px;
    }
    .bienvenida-text{
        font-size: 47px;
        font-weight: 700;
        margin: 94px 40px 58px 40px;
        min-width: 310px;
        max-width: 350px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
    }
    .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 375px;
        max-height: 375px;
        /* margin: 0 27px; */
    }

    .descripcion{
        background-color: #141414;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 320px;
        max-width: 375px;
    }
    .titulo-descripcion{
        margin: 55px 52px 41px 52px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #FAFAFA;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -2px;
        text-align: center;
    }
    .container-descripcion{
        color: #FAFAFA;
        font-family: 'Roboto';
        min-width: auto;
        max-width: 312px;
    }
    .texto-descripcion{
        text-align: justify;
    }
    .check-container{
        padding: 57px 150px 68px 150px;
    }

    .servicios{
        display: flex;
        flex-direction: column;
    }
    .servicios-h3{
        font-family: 'Open Sans';
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -2px;
        text-align: center;
        height: 55.81180953979492px;
        width: 271px;
        left: 52px;
        margin: 69px 52px 48px 52px;
    }
    .servicio-dif{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image-serv{
        width: 138px;
        height: 128px;
    }
    .service{
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        margin: 18px 52px 15px 52px;
    }
    .service-description{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        max-width: 262px;
        max-height: 117px;
        margin: 0 55px 108px 55px
    }
    .message-container{
        background-color: #141414;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .escribime-title{
        font-family: 'Open Sans';
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -2px;
        text-align: center;
        max-width: 271px;
        color: #FAFAFA;
        margin: 69px 52px 35px 52px
    }
    .inputs-container-messages{
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        width: 335px;
        align-items: flex-start;
    }

    .messages{
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: #FAFAFA;
        margin-bottom: 9px;
    }

    .name-input{
        width: 335px;
        height: 45px;
        border-radius: none;
        border: none;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .email-input{
        width: 335px;
        height: 45px;
        border-radius: none;
        border: none;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 21px;
    }
    
    .message-input{
        width: 335px;
        height: 113px;
        border-radius: none;
        border: none;
        font-size: 13px;
        font-weight: 400;
    }

    .enviar-message-btn{
        width: 335px;
        height: 45px;
        border: none;
        border-radius: 2px;
        margin: 60px 20px 70px 20px;
        background-color: #FFD953;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        text-align: center;
    }

    .footer-container{
        width: 375px;
        height: 493px;
        background-color: #DBDBDB;
    }
    .footer{
        margin: 53px 16px;
        display: flex;
        flex-direction: column;
    }
    .img-footer{
        width: 77px;
        height: 71px;
    }

    .copyright-text{
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        margin: 18px 0 85px 0;
    
    }

    .logo-red{
        width: 27px;
    }
    .footer-text-in{
        height: 19px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
    }
    .redes-container{
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 25px;
    }
    .text-headers{
        display: none;
    }
}




@media (min-width: 961px) {  
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .header-nav{
        margin-top: 36px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        width: 1440px;
        /* gap: 724px; */
    }
    .burguer-button{
        width: 428px;
        height: 28px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 724px;
        margin-right: 103px;
        margin-top: 26px;
        
    }
    .logo{
        width: 144px;
    }
    .image-logo{
        width: 54px;
        height: 50px;
        margin-left: 80px;
    }

    .text-headers{
        display: flex;
        flex-direction: row;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
            
    }
    .burguer-button-line{
        display: none;
    }
    

    .bienvenida{
        /* align-items: center; */
        width: 1440px;
        height: 395px;
        margin-top: 115px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 528px;
    }
    .bienvenida-text{
        font-size: 47px;
        font-weight: 700;
        margin: 0px 0px 58px 80px;
        min-width: 312px;
        max-width: 313px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
    }
    .foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 375px;
        max-height: 375px;
        /* margin: 0 27px; */
    }

    .descripcion{
        background-color: #141414;
        align-items: start;
        width: 1440px;
        display: grid;
        grid-template-rows:  1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .titulo-descripcion{
        margin: 132px 0 0px 0px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #FAFAFA;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        letter-spacing: -2px;
        width: 271px;
        grid-column: 3;
        grid-row: 1;
    }
    .container-descripcion{
        color: #FAFAFA;
        font-family: 'Roboto';
        min-width: auto;
        width: 532px;
        height: 165px;
        margin-top: 204px;
        grid-column: 3 / span 4;
        grid-row:  1 /span 2;
    }
    .texto-descripcion{
        text-align: justify;
    }
    .check-container{
        /* padding: 57px 150px 68px 150px; */
        width: 211px;
        height: 211px;
        grid-row: 1 / span 2;
        grid-column: 2;
        margin: 145px 90px 182px 18px;
    }
    .image-check{
        width: 211px;
        height: 211px;
    }

    .servicios{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-rows: 1fr 1fr 1fr;
    }
    .servicios-h3{
        font-family: 'Open Sans';
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -2px;
        text-align: center;
        height: 55.81180953979492px;
        width: 403px;
        height: 56px;
        left: 52px;
        margin: 59px 520px 71px 520px;
        grid-column: 1 /span 3;
        grid-row: 1;
    }
    .servicio-dif{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* grid-column: 1 /span 3; */
        grid-row: 2/ span 3;
    }
    .image-serv{
        width: 138px;
        height: 128px;
    }
    .service{
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        margin: 18px 52px 15px 52px;
    }
    .service-description{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        max-width: 262px;
        max-height: 117px;
        margin: 0 55px 108px 55px
    }
    .message-container{
        background-color: #141414;
        width: 1440px;
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
        height: 660px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
    }
    .escribime-title{
        font-family: 'Open Sans';
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: -2px;
        text-align: center;
        width: 271px;
        color: #FAFAFA;
        margin: 116px 77px 327px 304px;
        grid-column: 2;
    }
    .inputs-container-messages{
        display: flex;
        flex-direction: column;
        margin: 116px 412px 60px 0;
        width: 376px;
        align-items: flex-start;
        grid-column: 3;
    }

    .messages{
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: #FAFAFA;
        margin-bottom: 9px;
                grid-column: 3;

    }

    .name-input{
        width: 376px;
        height: 45px;
        border-radius: none;
        border: none;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 25px;
    }

    .email-input{
        width: 376px;
        height: 45px;
        border-radius: none;
        border: none;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 21px;
    }
    
    .message-input{
        width: 376px;
        height: 113px;
        border-radius: none;
        border: none;
        font-size: 13px;
        font-weight: 400;
    }

    .enviar-message-btn{
        margin: 0px 412px 116px 652px;
        width: 376px;
        height: 45px;
        border: none;
        border-radius: 2px;
        padding: 0;
        background-color: #FFD953;
        font-size: 16px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
        text-align: center;
        grid-column: 3;
    }

    .footer-container{
        width: 1440px;
        height: 346px;
        background-color: #DBDBDB;
        display: flex;
        align-items: flex-end;
    }
    .footer{
        margin: 53px 16px;
        width: 1440px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .img-footer{
        width: 77px;
        height: 71px;
        grid-column: 1;
        grid-row: 1;
    }

    .copyright-text{
        font-family: Roboto;
        font-size: 13px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        margin: 80px 0 85px 0;
        grid-column: 1;
        grid-row: 1;
    }

    .logo-red{
        width: 27px;
    }
    .footer-text-in{
        height: 19px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
    }
    .redes-container{
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-bottom: 25px;
    }
    .reddeess{
        grid-column: 4;
    }

}